* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #f4f4f4;
}

header img {
  width: 120px;
  margin-left: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: 80px;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
}

nav ul li a.active {
  border-bottom: 2px solid black;
}

/*banner */
.banner {
  background: url("../assets/banner/bannersenac.jpg") no-repeat center
    center/cover;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
}

.banner h1 {
  padding: 20px;
  border-radius: 10px;
}

.banner-content {
  color: #004080;
  padding: 20px;
  border-radius: 10px;
}

.banner button {
  background-color: orange;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.banner button:hover {
  background-color: darkorange;
  transform: scale(1.05);
}

/*Home*/

.sobre {
  background-color: #004080;
  color: white;
  padding: 40px 20px;
  border-bottom: 10px solid orange;
  text-align: center;
}

.sobre h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.sobre p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 800px;
}

.localizacao {
  padding: 40px 20px;
  background-color: white;
}
.video {
  padding: 40px 20px;
  background-color: #004080;
  border-bottom: 10px solid orange;
}

.video iframe {
  max-width: 100%;
}

/* CURSOS */

.h1-cursos {
  opacity: 0.5;
}

.cursos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
  justify-content: center;
  border-bottom: 10px solid orange;
}

.curso {
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.curso:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.curso img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.curso h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.curso p {
  font-size: 0.9rem;
  color: gray;
}

/*contatos */

.h1-contato {
  opacity: 0.5;
}

.form-container {
  border-radius: 8px;
  width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.form-title {
  margin-bottom: 15px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: bold;
  margin: 10px 0 5px;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.form-textarea {
  height: 80px;
  resize: none;
}

.form-button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  display: block;
  margin: 0 auto;
}

.form-button:hover {
  background-color: #218838;
}

.bordar-laranja {
  padding: 10px;
  border-bottom: 10px solid orange;
}

/* footer */

footer {
  color: black;
  padding: 20px;
  margin-top: 20px;
}

footer img {
  width: 100px;
  display: block;
  margin: 0 auto 10px;
}

@media (max-width: 768px) {
  header {
    flex-direction: row;
    padding: 10px 20px;
  }

  header img {
    margin-left: 0;
    margin-bottom: 0;
  }

  nav ul {
    flex-direction: row;
    gap: 20px;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  nav ul li a {
    font-size: 14px;
    padding: 5px;
  }

  header {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
